<div class="container pt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <form (ngSubmit)="editPassword()" [formGroup]="formProfile" >
                    <div class="card-header">
                        Editar Constraseña 
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="password">Contraseña Actual</label>
                            <input type="text" class="form-control" name="password" placeholder="Ej. 1804755555" autofocus="autofocus" formControlName="password_old" minlength="6" required/>
                            <div class="invalid-feedback" *ngIf="!formProfile.get('password')?.valid && !formProfile.get('password')?.pristine">
                                <span *ngIf="password.hasError('minlength')">
                                    El campo Contraseña Actual debe tener como mínimo 6 carácteres
                                </span>
                                <span *ngIf="password.hasError('required')">
                                    El campo Contraseña Actual es requerido
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password">Nueva Contraseña</label>
                            <input type="text" class="form-control" name="password" placeholder="Ej. Vrenna Russo" autofocus="autofocus" formControlName="password" minlength="6" required/>
                            <div class="invalid-feedback" *ngIf="!formProfile.get('password')?.errors && !formProfile.get('password')?.pristine">
                                <span *ngIf="password.hasError('minlength')">
                                    El campo Nueva Contraseña debe tener como mínimo 6 carácteres
                                </span>
                                <span *ngIf="password.hasError('required')">
                                    El campo Nueva Contraseña es requerido
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="apellidos">Confirmar Contraseña</label>
                            <input type="text" class="form-control" name="apellidos" placeholder="Ej. Verónica Elizabeth" autofocus="autofocus" formControlName="password_confirmation"  minlength="5" required/>
                            <!-- <div class="invalid-feedback" *ngIf="!apellidos.valid && !apellidos.pristine">
                                <span *ngIf="apellidos.hasError('minlength')">
                                    El campo Confirmar Contraseña debe tener como mínimo 5 carácteres
                                </span>
                                <span *ngIf="apellidos.hasError('required')">
                                    El campo Confirmar Contraseña es requerido
                                </span>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="btn-group" role="group" aria-label="Button group name">
                            <button type="submit" class="btn btn-success">Editar</button>
                            <button type="button" class="btn btn-primary">Cancelar</button>
                        </div>
                    </div>
                </form>
                {{ formProfile.value | json }}
                {{ formProfile.valid }}
            </div>
        </div>
    </div>
</div>
