<div class="card">
    <div class="card-header">
        <h2 class="card-title">
            Crear Cliente
        </h2>
    </div>
    <div class="card-body">
        <form action="">
            <div class="mb-3">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required/>
            </div>
            <div class="mb-3">
                <label for="correo">Correo</label>
                <input type="email" class="form-control" id="correo" name="correo" required/>
            </div>
            <div class="btn-group" role="group" aria-label="Button group name">
                <button type="button" class="btn btn-success">Editar</button>
                <button type="button" class="btn btn-primary">Cancelar</button>
            </div>
        </form>
    </div>
</div>
