<!-- <app-master></app-master> -->

<div class="container pt-5">
    <div class="d-flex justify-content-center">
        <div class="card card-circle mx-1">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/128/82/82237.png" alt="">
                <h5 class="card-title">Matriculas</h5>
                <a routerLink="/create-enrollment" class="btn btn-secondary">Matricularme</a>
            </div>
        </div>
        <div class="card card-circle mx-1">
            <div class="card-body">
                <img src="https://cdn-icons-png.flaticon.com/128/9717/9717756.png" alt="">
                <h5 class="card-title">Calificaciones</h5>
                <a routerLink="/view-notes/1" class="btn btn-secondary">Mis Calificaciones</a>
            </div>
        </div>
    </div>
</div>
